:root{
    --default-font:Arial, Helvetica, sans-serif;

  }
  * {
    background-color:#181d27;
  }
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    
  }
  
  h1 {
    font-size: 300%;
    margin-bottom: 10px;
  }
  
  h2 {
    font-family: var(--default-font);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  header {
    font-family: var(--default-font);
    padding: 40px;
    text-align: center;
    color: violet;
  }
  
  header > p {
    color:white;
    font-size: 125%;
  }

  
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    font-family: var(--default-font);
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: violet;
    margin-top: auto;
    font-size: 150%;
    font-weight: 500;
  }
  
  .products {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    border: 3px dotted white;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
  }

  .card header{
    font-family:var(--default-font);
    font-size: 200%;
    font-weight: 200;
    padding: none;
    color: violet;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    top: -45px;
  }
  #topic {
    padding: 3px 30px 3px 10px;
    text-align: left;
  }
  #code-desc {
    font-family: var(--default-font);
    color:violet;
    text-align: center;
  }

  #code-snip > code, pre {
    color:white;
    border: 1px solid violet;
    background-image: linear-gradient(to top, violet, gray);
    border-radius: 0.25em;
    justify-content: flex-start;
  }
  
 

  @media screen and (min-width: 992px) {
    main {
      flex-direction: column;
      align-items: center;
    }
    .products{
        width: 50%;
    }
  }

  @media screen and (max-width: 992px) {
    main {
      flex-direction: column;
      align-items: center;
    }
    .products{
        width: 33%;
    }
  }

  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
    }
    .products{
        width: 50%;
    }
  }

  .card:hover {
    outline: none;
    border-color: violet;
    box-shadow: 0 0 10px violet;
  }

  .card > header:hover{
    outline: none;
    border-color: violet;
    box-shadow: 0 0 10px violet;
    color: white;
  }